@import "../js/bower_components/bootstrap/dist/css/bootstrap.min.css";

@import "../js/bower_components/bootstrap/dist/css/bootstrap-theme.min.css";
#game {
  border: 1px solid black;
  max-width: 100%;
  border-radius: 8px;
}
#controls {
  position: fixed;
  top: 100px;
  right: 0;
  background-color: rgba(250, 250, 250, 0.8);
  padding: 10px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}
#controls ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#controls ul li {
  width: 30px;
  height: 30px;
  margin-bottom: 8px;
  text-align: center;
}
#controls ul li:hover {
  background-color: rgba(100, 100, 100, 0.4);
}
#controls ul li img {
  max-width: 30px;
  max-height: 30px;
}
#stats {
  background-color: rgba(250, 250, 250, 0.8);
  margin-top: 6px;
  padding: 4px 0;
  border-radius: 8px;
  font-size: 16px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
#stats > div:first-child {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
#stats > div > div {
  padding: 0 0 0 4px;
}
#stats > div > div:first-child {
  font-weight: bold;
}
